In [78]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/edlich/eternalrepo/master/DS-WAHLFACH/dsm-beuth-edl-demodata-dirty.csv')

In [79]:
df

,id,full_name,first_name,last_name,email,gender,age
0,1.0,Mariel Finnigan,Mariel,Finnigan,mfinnigan0@usda.gov,Female,60
1,2.0,Kenyon Possek,Kenyon,Possek,kpossek1@ucoz.com,Male,12
2,3.0,Lalo Manifould,Lalo,Manifould,lmanifould2@pbs.org,Male,26
3,4.0,Nickola Carous,Nickola,Carous,ncarous3@phoca.cz,Male,4
4,5.0,Norman Dubbin,Norman,Dubbin,ndubbin4@wikipedia.org,Male,17
5,6.0,Hasty Perdue,Hasty,Perdue,hperdue5@qq.com,NaN,77
6,7.0,Franz Castello,Franz,Castello,fcastello6@1688.com,Male,25
7,8.0,Jorge Tarney,Jorge,Tarney,jtarney7@ft.com,Male,77
8,9.0,Eunice Blakebrough,Eunice,Blakebrough,eblakebrough8@sohu.com,Female,45
9,10.0,Kristopher Frankcombe,Kristopher,Frankcombe,kfrankcombe9@slate.com,Male,old
10,11.0,Palm Domotor,Palm,Domotor,pdomotora@github.io,Male,6
11,12.0,Luz Lansdowne,Luz,Lansdowne,llansdowneb@theguardian.com,Female,16
12,13.0,Modestia Keble,Modestia,Keble,mkeblec@cmu.edu,Female,91
13,14.0,Stacee Bovis,Stacee,Bovis,sbovisd@webeden.co.uk,Female,22
14,15.0,Eden Wace,Eden,Wace,ewacee@marriott.com,Female,16
15,16.0,Eden Wace,Eden,Wace,ewacee@marriott.com,Female,16
16,17.0,Tobias Sherburn,Tobias,Sherburn,tsherburnf@facebook.com,Male,2
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,19.0,Clair Skillern,Clair,Skillern,cskillerng@nih.gov,Male,-78
19,20.0,Mathew Addicott,Mathew,Addicott,maddicotth@acquirethisname.com,Male,65
20,21.0,Kerianne Goacher,Kerianne,Goacher,NaN,Female,45
21,NaN,Maurits Shawl,Maurits,Shawl,mshawlj@dmoz.org,Male,72
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [80]:
#Checke in welchen Spalten und wie oft Null-Werte exisiteren
df.isnull().sum()

id            3
full_name     2
first_name    2
last_name     2
email         3
gender        3
age           2
dtype: int64

In [81]:
#Lösche alle Zeilen, wo nur Null Werte exisitieren (kein inhaltlicher Mehrwert)
df = df.dropna(how='all')

In [82]:
#checke ob komplette dublikate existieren (all values, exclude id)
df.duplicated(['full_name','first_name','last_name','email','gender','age'])

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15     True
16    False
18    False
19    False
20    False
21    False
dtype: bool

In [83]:
#drop duplicates
df = df.drop_duplicates(['full_name','first_name','last_name','email','gender','age'])
df

,id,full_name,first_name,last_name,email,gender,age
0,1.0,Mariel Finnigan,Mariel,Finnigan,mfinnigan0@usda.gov,Female,60
1,2.0,Kenyon Possek,Kenyon,Possek,kpossek1@ucoz.com,Male,12
2,3.0,Lalo Manifould,Lalo,Manifould,lmanifould2@pbs.org,Male,26
3,4.0,Nickola Carous,Nickola,Carous,ncarous3@phoca.cz,Male,4
4,5.0,Norman Dubbin,Norman,Dubbin,ndubbin4@wikipedia.org,Male,17
5,6.0,Hasty Perdue,Hasty,Perdue,hperdue5@qq.com,NaN,77
6,7.0,Franz Castello,Franz,Castello,fcastello6@1688.com,Male,25
7,8.0,Jorge Tarney,Jorge,Tarney,jtarney7@ft.com,Male,77
8,9.0,Eunice Blakebrough,Eunice,Blakebrough,eblakebrough8@sohu.com,Female,45
9,10.0,Kristopher Frankcombe,Kristopher,Frankcombe,kfrankcombe9@slate.com,Male,old
10,11.0,Palm Domotor,Palm,Domotor,pdomotora@github.io,Male,6
11,12.0,Luz Lansdowne,Luz,Lansdowne,llansdowneb@theguardian.com,Female,16
12,13.0,Modestia Keble,Modestia,Keble,mkeblec@cmu.edu,Female,91
13,14.0,Stacee Bovis,Stacee,Bovis,sbovisd@webeden.co.uk,Female,22
14,15.0,Eden Wace,Eden,Wace,ewacee@marriott.com,Female,16
16,17.0,Tobias Sherburn,Tobias,Sherburn,tsherburnf@facebook.com,Male,2
18,19.0,Clair Skillern,Clair,Skillern,cskillerng@nih.gov,Male,-78
19,20.0,Mathew Addicott,Mathew,Addicott,maddicotth@acquirethisname.com,Male,65
20,21.0,Kerianne Goacher,Kerianne,Goacher,NaN,Female,45
21,NaN,Maurits Shawl,Maurits,Shawl,mshawlj@dmoz.org,Male,72

In [84]:
#Fill missing id with index
df.loc[df['id'].isnull(), 'id'] = df.loc[df['id'].isnull()].index + 1
df

,id,full_name,first_name,last_name,email,gender,age
0,1.0,Mariel Finnigan,Mariel,Finnigan,mfinnigan0@usda.gov,Female,60
1,2.0,Kenyon Possek,Kenyon,Possek,kpossek1@ucoz.com,Male,12
2,3.0,Lalo Manifould,Lalo,Manifould,lmanifould2@pbs.org,Male,26
3,4.0,Nickola Carous,Nickola,Carous,ncarous3@phoca.cz,Male,4
4,5.0,Norman Dubbin,Norman,Dubbin,ndubbin4@wikipedia.org,Male,17
5,6.0,Hasty Perdue,Hasty,Perdue,hperdue5@qq.com,NaN,77
6,7.0,Franz Castello,Franz,Castello,fcastello6@1688.com,Male,25
7,8.0,Jorge Tarney,Jorge,Tarney,jtarney7@ft.com,Male,77
8,9.0,Eunice Blakebrough,Eunice,Blakebrough,eblakebrough8@sohu.com,Female,45
9,10.0,Kristopher Frankcombe,Kristopher,Frankcombe,kfrankcombe9@slate.com,Male,old
10,11.0,Palm Domotor,Palm,Domotor,pdomotora@github.io,Male,6
11,12.0,Luz Lansdowne,Luz,Lansdowne,llansdowneb@theguardian.com,Female,16
12,13.0,Modestia Keble,Modestia,Keble,mkeblec@cmu.edu,Female,91
13,14.0,Stacee Bovis,Stacee,Bovis,sbovisd@webeden.co.uk,Female,22
14,15.0,Eden Wace,Eden,Wace,ewacee@marriott.com,Female,16
16,17.0,Tobias Sherburn,Tobias,Sherburn,tsherburnf@facebook.com,Male,2
18,19.0,Clair Skillern,Clair,Skillern,cskillerng@nih.gov,Male,-78
19,20.0,Mathew Addicott,Mathew,Addicott,maddicotth@acquirethisname.com,Male,65
20,21.0,Kerianne Goacher,Kerianne,Goacher,NaN,Female,45
21,22.0,Maurits Shawl,Maurits,Shawl,mshawlj@dmoz.org,Male,72

In [85]:
#check if emails have valid format
!pip install validate_email
from validate_email import validate_email

df['email'].dropna().apply(lambda x:validate_email(x))

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: validate_email in /usr/local/lib/python3.7/dist-packages (1.3)

0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
11    True
12    True
13    True
14    True
16    True
18    True
19    True
21    True
Name: email, dtype: bool

In [86]:
import numpy as np

#cleanup age
#replace all non numeric values with nan
df['age'] = pd.to_numeric(df['age'], errors='coerce')
#convert to int
df['age'].dropna().astype('int')
#replace all negative values with nan
df['age'] = df['age'].apply(lambda x : x if x > 0 else np.nan)

In [89]:
#Cleaned dataset:
df

,id,full_name,first_name,last_name,email,gender,age
0,1.0,Mariel Finnigan,Mariel,Finnigan,mfinnigan0@usda.gov,Female,60.0
1,2.0,Kenyon Possek,Kenyon,Possek,kpossek1@ucoz.com,Male,12.0
2,3.0,Lalo Manifould,Lalo,Manifould,lmanifould2@pbs.org,Male,26.0
3,4.0,Nickola Carous,Nickola,Carous,ncarous3@phoca.cz,Male,4.0
4,5.0,Norman Dubbin,Norman,Dubbin,ndubbin4@wikipedia.org,Male,17.0
5,6.0,Hasty Perdue,Hasty,Perdue,hperdue5@qq.com,NaN,77.0
6,7.0,Franz Castello,Franz,Castello,fcastello6@1688.com,Male,25.0
7,8.0,Jorge Tarney,Jorge,Tarney,jtarney7@ft.com,Male,77.0
8,9.0,Eunice Blakebrough,Eunice,Blakebrough,eblakebrough8@sohu.com,Female,45.0
9,10.0,Kristopher Frankcombe,Kristopher,Frankcombe,kfrankcombe9@slate.com,Male,NaN
10,11.0,Palm Domotor,Palm,Domotor,pdomotora@github.io,Male,6.0
11,12.0,Luz Lansdowne,Luz,Lansdowne,llansdowneb@theguardian.com,Female,16.0
12,13.0,Modestia Keble,Modestia,Keble,mkeblec@cmu.edu,Female,91.0
13,14.0,Stacee Bovis,Stacee,Bovis,sbovisd@webeden.co.uk,Female,22.0
14,15.0,Eden Wace,Eden,Wace,ewacee@marriott.com,Female,16.0
16,17.0,Tobias Sherburn,Tobias,Sherburn,tsherburnf@facebook.com,Male,2.0
18,19.0,Clair Skillern,Clair,Skillern,cskillerng@nih.gov,Male,NaN
19,20.0,Mathew Addicott,Mathew,Addicott,maddicotth@acquirethisname.com,Male,65.0
20,21.0,Kerianne Goacher,Kerianne,Goacher,NaN,Female,45.0
21,22.0,Maurits Shawl,Maurits,Shawl,mshawlj@dmoz.org,Male,72.0